# Ignore everything
*

# But not these files...
!.gitignore
!*.py
!*.ipynb
!*.sh

!qa/*.json
!ner/*.txt
!Tc_datasets_generated/*
!list_of_DOIs.csv
# etc...

# ...even if they are in subdirectories
!*/
perplexity plot.ipynb
